= simple_form_for [entry, comment], remote: true, html: { class: 'comment-form' } do |form|
  #comment_error_explanation

  = form.input :body, label: "New Comment", input_html: { class: 'comment-form__body'}
  = form.button :submit
