= form_with(model: comment, url: [blog, entry, comment]) do |form|
  #comment_error_explanation

  .field
    = form.label :body
    %br
    = form.text_area :body

  .actions
    = form.submit 'Save'
